<?xml version="1.0" encoding="UTF-8"?>

<!--status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。-->
<Configuration status="trace" monitorInterval="600">

    <Properties>
        <!-- 配置日志文件输出目录(自定义) -->
        <Property name="LOG_HOME">/Logs/sb</Property>
    </Properties>

    <Appenders>
        <!--这个会打印出所有的信息，每次大小超过size或者24小时，则这size大小的日志会自动存入按年份-月份-天数建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFile" fileName="${LOG_HOME}/info/sbService.log"
                     filePattern="${LOG_HOME}/info/$${date:yyyy-MM-dd}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %M() @%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingERRORFile" fileName="${LOG_HOME}/error/sbERRORService.log"
                     filePattern="${LOG_HOME}/error/$${date:yyyy-MM-dd}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %M() @%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
        </RollingFile>

        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <!-- 配置日志的根节点 -->
        <!-- 两个文件名自定义 -->
        <root level="trace">
            <appender-ref ref="Console" level="DEBUG"/>
            <!-- 如下两个为日志记录的设置完成如下操作在自定义的文件下便会记录运行情况 -->
            <appender-ref ref="RollingFile" level="DEBUG"/>
            <appender-ref ref="RollingERRORFile" level="ERROR"/>
        </root>
        <!-- 加入如下记录控制台会输出sql语句和其执行结果 -->
        <logger name="org.springframework.aop" level="DEBUG"/>
        <logger name="org.apache.ibatis.logging.jdbc" level="DEBUG"/>
        <logger name="com.ibatis" level="DEBUG"/>
        <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
        <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
        <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
    </Loggers>

</Configuration>
